@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    font-weight: 800;
    font-family: 'Lato', sans-serif;

}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
:root {
    --main-bg-color: #006a71;
  }
.app-bg {
    background-color: var(--main-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.app-bg h1 {
    margin-top: 30px;
    color:#fff;
    
}
.app{
    background-color: aliceblue;
    width: 960px;
    height: 400px;


}
.app-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-todo{
    background-color: #fff;
    width: 400px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    overflow: auto;
    
}

.app-input {
    width: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    
    
}
.app-input button {
    background-color: #fff;
    color: #032535;
    border: none;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #006269;
    cursor: pointer;
}
.app-input input {
    background-color: #fff;
    color: #032535;
    border: none;
    height: 30px;
    width: 100%;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 6px #006269;
}
.todoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-left: 8px solid var(--main-bg-color);
    margin-bottom: 10px;
    border-bottom:1px solid #c7c7c7;
}
.todoItem button {
    background-color: var(--main-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
}
.todoItem a {
    flex: 1;
}
.todo-empty{
    text-align: center;
    
}

footer a {
    color: #fff;
    
}
footer  {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
